@import url('https://fonts.googleapis.com/css?family=Marvel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mulish&display=swap');

/************************** GENERAL *****************************/

body {
    background-color: #222831;
    margin: 0;
}

a {
    text-decoration: none;
}

.top-bar {
    /* display: inline-flex; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.container {
    height: 100vh;
}

img {
    max-width:100%;
    height:auto;
}

/*************************** LOGO AND TITLE ************************/

/* .header {
    display: flex;
    justify-content: center;
} */

.header {
    margin-left: 120px;
    display: flex;
    align-items: center;
}

.header a {
    font-size: 48px;
    font-family: Marvel;
    margin-left: 20px;
    color: #EEEEEE;
}

.header a:visited {
    color: #EEEEEE;
}

.header img {
    margin: 0 auto;
    width: 60px;
}

/*************************** NAVIGATION ***************************/

.menu {
    height: 80px;
    float: right;
    margin-right: 100px;
    display: flex;
}

.nav-button {
    background-color: #00ADB5;
    padding: 25px 25px;
    text-align: center;
    font-family: Mulish;
    color: #EEEEEE;
    font-size: 18px;
}

.nav-button:hover {
    background-color: white;
    color: #222831;
}

/*************************** MAIN ***************************/

.content {
    min-height: calc(100vh - 130px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*************************** NEXT - PREVIOUS BUTTONS ***************************/

.page-arrows {
    border-radius: 50%;
    background-color: #393E46;
    font-size: 60px;
    padding: 30px;
    text-decoration: none;
    color: #EEEEEE;
}


.page-arrows:hover {
    background-color: #EEEEEE;
    color: #222831;
}

.next-page-button {
    float: right;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 130px);
}

.previous-page-button {
    float: left;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 130px);
}

.page-button-name {
    font-size: 30px;
    font-family: Marvel;
    color: #EEEEEE;
    margin: 5px 0;
}


/*************************** FOOTER ***************************/

.footer {
    background-color: #C4C4C4;
    position: absolute;
    height: 50px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Mulish;
    font-size: 12px;
}

.footer .copyright-message img {
    height: 40px;
    margin-left: 50px;
    margin-right: 20px;
}

.footer-credit {
    margin-right: 50px;
}

.copyright-message {
    display: flex;
    align-items: center;
}


/************************ HOME PAGE STYLES ********************/


.main {
    height: calc(100vh - 130px);
    width: 100%;
}

.main h1 {
    font-family: Marvel;
    font-size: 70px;
    text-align: right;
    color: #EEEEEE;
    margin: 0;
}

.main h2 {
    font-family: Marvel;
    font-size: 28px;
    text-align: right;
    color: #EEEEEE;
    margin: 0;
}

.home-page-image {
    width: 70%;
}

.motto {
    width: 30%;
    margin-right: 250px;
}


/************************ RENT PAGE STYLES ********************/



/************************ ABOUT US PAGE STYLES ********************/



/************************ CONTACT PAGE STYLES ********************/
